{% load jchart %}
<body>
<h1>Workouts</h1>

<h2>Extensions élastiques</h2>
{% render_chart workout_chart "1" %}

<h2>Pompes standards</h2>
{% render_chart workout_chart "2" %}

<h2>Pompes diamant</h2>
{% render_chart workout_chart "3" %}

<h2>Korean dips</h2>
{% render_chart workout_chart "4" %}

<h2>Elastiques pectoraux</h2>
{% render_chart workout_chart "5" %}

<h2>Haltères standards</h2>
{% render_chart workout_chart "6" %}


<h2>Haltères rotation</h2>
{% render_chart workout_chart "7" %}

<h2>Haltères levées de bras</h2>
{% render_chart workout_chart "8" %}

<h2>Fentes avant</h2>
{% render_chart workout_chart "9" %}

<h2>Squats</h2>
{% render_chart workout_chart "10" %}

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.bundle.min.js"></script>
</body>
